[submodule "pack/git-plugins/start/vimtex"]
	path = pack/git-plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/git-plugins/start/ultisnips"]
	path = pack/git-plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/git-plugins/start/vim-snippets"]
	path = pack/git-plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/git-plugins/start/todo.txt"]
	path = pack/git-plugins/start/todo.txt
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "pack/git-plugins/start/vim-slime"]
	path = pack/git-plugins/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "pack/git-plugins/start/vim-openscad"]
	path = pack/git-plugins/start/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule "pack/git-plugins/start/vim-cmake-syntax"]
	path = pack/git-plugins/start/vim-cmake-syntax
	url = https://github.com/pboettch/vim-cmake-syntax.git
[submodule "pack/git-plugins/start/vim-latex-live-preview"]
	path = pack/git-plugins/start/vim-latex-live-preview
	url = git@github.com:xuhdev/vim-latex-live-preview.git
[submodule "pack/git-plugins/start/vim-colorschemes"]
	path = pack/git-plugins/start/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "pack/git-plugins/start/YouCompleteMe"]
	path = pack/git-plugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "pack/git-plugins/start/vim-airline"]
	path = pack/git-plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/git-plugins/start/vim-fugitive"]
	path = pack/git-plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/git-plugins/start/vim-mathematica"]
	path = pack/git-plugins/start/vim-mathematica
	url = https://github.com/rsmenon/vim-mathematica.git
[submodule "pack/git-plugins/start/jupyter-vim"]
	path = pack/git-plugins/start/jupyter-vim
	url = https://github.com/wmvanvliet/jupyter-vim.git
