[submodule "plugin/vim-latex-live-preview"]
	path = plugin/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule "plugin/clang_complete"]
	path = plugin/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "pack/git-plugins/start/vimtex"]
	path = pack/git-plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/git-plugins/start/ultisnips"]
	path = pack/git-plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/git-plugins/start/vim-snippets"]
	path = pack/git-plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/git-plugins/start/todo.txt"]
	path = pack/git-plugins/start/todo.txt
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "pack/git-plugins/start/vim-slime"]
	path = pack/git-plugins/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "pack/git-plugins/start/vim-openscad"]
	path = pack/git-plugins/start/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule "pack/git-plugins/start/vim-hdl"]
	path = pack/git-plugins/start/vim-hdl
	url = https://github.com/suoto/vim-hdl.git
[submodule "pack/git-plugins/start/syntastic"]
	path = pack/git-plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
