snippet ipyinit "init ipython script" b
#!/usr/bin/env python
get_ipython().run_line_magic('pylab','inline')
import pandas as pd
$0
endsnippet
	
snippet statinit "Libraries for statistics" b
import numpy as np
import scipy as sp
import scipy.io as sio
import scipy.stats as ss
import pandas as pd
##
$0
endsnippet
